
.jumbostron {
    background-color: #F0F8FF;
    padding-top: 200px;

}

#certificate {
    background-color: #F0F8FF;
    padding-top: 60px;
}

#suggest {
    background-color: aliceblue;
    padding-top: 100px;
}

#contact {
    padding-top: 100px;
}